*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../issets/comeBackPixelated.jpeg);
    background-color: rgb(21, 21, 21);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.version {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #c8cc98;
}
.logo {
    height: 15rem;
    width: 15rem;
    margin-bottom: 2rem;
    background-image: url(../issets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    row-gap: 1rem;
    height: 90vh;
    width: 20rem;
    right: 7rem;
    top: 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
    position: absolute;
}
#mainLeft {
    left: 7rem;
}
.title {
    text-align: center;
    color: #3fdd00;
    font-size: larger;
    font-weight: bolder;
}
.txt {
    width: 100%;
    text-align: center;
    color: #88ff5a;
    font-weight: bold;
}
.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    row-gap: 1rem;
    height: 10rem;
    width: 25rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
    position: absolute;
}
.btn {
    text-align: center;
    height: 2rem;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 0.5rem #88ff5a, -1px -1px 0.5rem #88ff5a;
    border-radius: 10px;
    border-style: none;
    font-size:medium;
    font-weight: bold;
    color: #88ff5a;
    cursor: pointer;
    transition: all 0.25s;
}
.btn:hover {
    height: 3rem;
    width: 21rem;
}
.dica {
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    background-image: url("../issets/lightBulb.webp");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.25s;
}
.dica:hover {
    height: 4rem;
    width: 4rem;
}
.dicaContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    row-gap: 1rem;
    height: 20rem;
    width: 25rem;
    left: 2rem;
    bottom: 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
    position: absolute;
}
#titleDicas {
    position: absolute;
    top: 2rem;
}
.close {
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-image: url("../issets/closeIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.25s;
}
.inventario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 2rem;
    bottom: 2rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    height: 6rem;
    width: 6rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
    position: absolute;
}
.itemInventario {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    flex-wrap: wrap;
    height: 5rem;
    width: 5rem;
    border-radius: 15px;
    border-top: 4px solid rgba(0, 0, 0, 0.4);
    border-left: 4px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(117, 117, 117, 0.4);
    backdrop-filter: blur(5px);
    color: transparent;
    cursor: pointer;
}
#item1:hover,
#item2:hover,
#item3:hover,
#item4:hover,
#item5:hover {
    color: white;
    background-image: none;
}
.imgBlack {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../issets/finalBossMask.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transform: translateY(-0.5rem);
    z-index: -1;
}
.bloodContainer {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(../issets/bloodPixelated.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.full {
    background-color: rgba(57, 151, 98, 0.4);
}
#item1 {
    background-image: url("../issets/walkieTalkiePixelated.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: transparent;
    font-weight: bold;
}
#item1:hover {
    color: white;
    background-image: none;
}

@keyframes movingHand {
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}