
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.title {
    text-align: center;
    color: #3fdd00;
    font-size: larger;
    font-weight: bolder;
}
.btn {
    text-align: center;
    height: 2rem;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 0.5rem #88ff5a, -1px -1px 0.5rem #88ff5a;
    border-radius: 10px;
    border-style: none;
    font-size:medium;
    font-weight: bold;
    color: #88ff5a;
    cursor: pointer;
    transition: all 0.25s;
}
.btn:hover {
    height: 3rem;
    width: 21rem;
}
.bloodContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
    width: 100%;
    background-image: url(../issets/bloodPixelated.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gameOver {
    font-size: 2rem;
    color: white;
    text-shadow: 4px 4px 3px #ff3728, -4px -4px 3px #ff3728;
}