*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../issets/rainingFieldBg.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.scrollableContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    height: 42rem;
    width: 50rem;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
}
::-webkit-scrollbar {
    background: #06042b;
    border: 2px solid #57427a;
}
::-webkit-scrollbar-thumb {
    background: #79689c;
    border: 2px solid #57427a;
    cursor: pointer;
}
.title {
    width: 100%;
    text-align: center;
    color: #3fdd00;
    font-weight: bolder;
}
.txt {
    text-align: justify;
    color: #88ff5a;
    font-weight: bold;
}
.imagem {
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
}
#img1 {
    height: 30rem;
    width: 25rem;
}
#imgOnu {
    height: 10rem;
    width: 10rem;
}
.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn {
    height: 4rem;
    width: 10rem;
    background-image: linear-gradient(140deg,#79689c,#57427a,#1f0731);
    box-shadow: 0.5rem 0.5rem #06042b;
    border: 2px solid #06042b;
    font-size: larger;
    font-weight: bold;
    color: #c8cc98;
    text-shadow: 1.5px 1.5px #06042b, -1.5px -1.5px #06042b;
    cursor: pointer;
    transition: all 0.25s;
}
.btn:hover {
    width: 14rem;
}
.version {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #c8cc98;
}